{# templates/home/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container">
        <h1>Bienvenue chez AS GARAGE</h1>
        <p>Votre garage de confiance pour toutes vos réparations et services automobiles.</p>
        <p>Consultez nos annonces pour trouver des pièces détachées ou des véhicules d'occasion.</p>
        <a href="{{ path('annonces') }}" class="btn btn-primary">Voir les annonces</a>
    </div>
{% endblock %}
