{% extends 'base.html.twig' %}

{% block title %}Réservation réussie{% endblock %}

{% block body %}
<div class="container mt-5 text-center">
    <h1 class="text-success">Réservation réussie !</h1>
    <p class="mt-4">Votre rendez-vous a été confirmé avec succès. Vous allez recevoir un email de confirmation sous peu.</p>
    <a href="{{ path('home') }}" class="btn btn-primary mt-4">Retour à l'accueil</a>
</div>
{% endblock %}
